<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RollDice</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="login.component.css">
</head>

<body>
  <h1>Test your Clairvoyance!</h1>
  <h2>Log In!</h2>

  <div style="width: 30%; height: 100px; float: left; transform: translateY(200%);">
    <form id="login" [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="username">
        <label for="uname"><b style="font-size: 40px">Username </b></label>
        <input style="height:30px;font-size:14pt;" type="text" placeholder="Enter Username" size="30" name="uname"
          required formControlName="username">
      </div>

      <div class="password">
        <label for="psw"><b style="font-size: 40px">Password </b></label>
        <input style="height:30px;font-size:14pt;" type="password" placeholder="Enter Password" size="30" name="psw"
          required formControlName="password">
        <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label> -->
      </div>
      <div class="Submit">
        <button type="submit" href="/home-page">Login</button>
      </div>
    </form>
  </div>
  <div style="margin-left: 10%; height: 50vr ">
    <h2>
      "Test your Clairvoyance" is built to test your predictive ability against dice outcomes
      <li>Login or create your account to begin playing</li>
      <li>Click on the "game" tab after loging in and enter your roll guess in the text field. Click roll and see how
        you did</li>
    </h2>
  </div>
</body>

</html>