<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RollDice</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="login.component.css">
</head>

<body>


  <div style="width: 50%; height: 15rem; ">
    <h1>Test your Clairvoyance!</h1>
    <h2>Log In</h2>
    <form id="login" [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="username">
        <label for="uname"><b style="font-size: 40px">Username </b></label>
        <input style="height:30px;font-size:14pt;" type="text" placeholder="Enter Username" size="30" name="uname"
          required formControlName="username">
      </div>

      <div class="password">
        <label for="psw"><b style="font-size: 40px">Password </b></label>
        <input style="height:30px;font-size:14pt;" type="password" placeholder="Enter Password" size="30" name="psw"
          required formControlName="password">
        <p>Don't have an account? <a href="/create-account">Create Account</a></p>
      </div>

      <div class="Submit">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="instructions">
    <h2>
      "Test your Clairvoyance" is built to test your predictive
      ability against dice outcomes
      <ol>
        <li>Login or create your account to begin playing</li>
        <li>Click on the "game" tab after logging in and enter your roll guess in the text field. Click roll and see how
          you did </li>
      </ol>
    </h2>
  </div>
</body>

</html>