 h1 {}

 body {
     display: flex;

 }

 .instructions {
     background-color: rgb(249, 236, 219);
     width: 35rem;
     height: 20rem;
     display: flex;
     align-items: center;
     border-radius: 10px;
     transform: translateX(20%);
     transform: translateY(30%);
 }