<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RollDice</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Create Account</h1>
    <div style="width: 50%; height: 20rem; ">
        <form id="createAccount" [formGroup]="accountForm" (ngSubmit)="create()">
            <div class="firstName">
                <label for="fname"><b style="font-size: 40px">First Name: </b></label>
                <input style="height:30px;font-size:14pt;" type="text" placeholder="Enter First Name" size="30"
                    name="fname" required formControlName="firstName">
            </div>

            <div class="lastName">
                <label for="lname"><b style="font-size: 40px">Last Name: </b></label>
                <input style="height:30px;font-size:14pt;" type="text" placeholder="Enter Last Name" size="30"
                    name="lname" required formControlName="lastName">
            </div>

            <div class="username">
                <label for="uname"><b style="font-size: 40px">Username: </b></label>
                <input style="height:30px;font-size:14pt;" type="text" placeholder="Enter Username" size="30"
                    name="uname" required formControlName="username">
            </div>

            <div class="password">
                <label for="psw"><b style="font-size: 40px">Password: </b></label>
                <input style="height:30px;font-size:14pt;" type="password" placeholder="Enter Password" size="30"
                    name="psw" required formControlName="password">

            </div>
            <div class="confpassword">
                <label for="confpsw"><b style="font-size: 40px">Confirm Password: </b></label>
                <input style="height:30px;font-size:14pt;" type="password" placeholder="Confirm Password" size="30"
                    name="confpsw" required formControlName="confpassword">

            </div>
            <div class="email">
                <label for="eml"><b style="font-size: 40px">Email: </b></label>
                <input style="height:30px;font-size:14pt;" type="text" placeholder="Enter Email" size="30" name="eml"
                    required formControlName="email">
            </div>
            <div class="Submit">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</body>

</html>