<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RollDice</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="game.component.css">
</head>

<body>


    <div class="game">
        <h1>
            Game
        </h1>
    </div>
    <div class="Accuracy">
        <h1>Your overall accuracy is {{ accuracy }} percent.</h1>
    </div>

    <div>
        <form id="login" [formGroup]="gameForm" (ngSubmit)="click()">

            <div class="username">
                <label for="Your guess"><b style="font-size: 40px">Your Guess: </b></label>
                <input style="height:30px;font-size:14pt;" type="text" placeholder="Enter number 1-6" size="30"
                    name="uname" required formControlName="guess">
            </div>

            <div class="dice-roll">
                <h1>{{ yourGuess }}</h1>
                <h1>{{ title }}</h1>
                <h2>{{ correctness }}</h2>
            </div>
            <div class="dice-roll">
                <h1>You got this many correct: {{ numberCorrect }}</h1>
                <h1>You've rolled this many times: {{ counter }}</h1>
            </div>
            <button>Roll Dice</button>

        </form>
    </div>

</body>