<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RollDice</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="leaderboard.component.css">
</head>
<body>
    <h1>Test your Clairvoyance!</h1>
<div class="container">
    <table>
        <tr>
          <th>Ranking </th>
          <th>Username </th>
          <th>Accuracy </th>
        </tr>
        <tr>
          <td>Player Ranking</td>
          <td>Player Username</td>
          <td>Player Accuracy</td>
        </tr>
        <tr>
            <td>Player Ranking</td>
            <td>Player Username</td>
            <td>Player Accuracy</td>
        </tr>
        <tr>
            <td>Player Ranking</td>
            <td>Player Username</td>
            <td>Player Accuracy</td>
          </tr>
          <tr>
              <td>Player Ranking</td>
              <td>Player Username</td>
              <td>Player Accuracy</td>
          </tr>
            <tr>
          <td>Player Ranking</td>
          <td>Player Username</td>
          <td>Player Accuracy</td>
        </tr>
        <tr>
            <td>Player Ranking</td>
            <td>Player Username</td>
            <td>Player Accuracy</td>
        </tr>
        <tr>
            <td>Player Ranking</td>
            <td>Player Username</td>
            <td>Player Accuracy</td>
          </tr>
          <tr>
              <td>Player Ranking</td>
              <td>Player Username</td>
              <td>Player Accuracy</td>
          </tr>        <tr>
            <td>Player Ranking</td>
            <td>Player Username</td>
            <td>Player Accuracy</td>
          </tr>
          <tr>
              <td>Player Ranking</td>
              <td>Player Username</td>
              <td>Player Accuracy</td>
          </tr>
      
      </table>
    </div>
</body>
