.container {
    font-family: arial;
    font-size: 24px;
    margin-left: 700px;
    margin-right: auto;

  }
  .popup {
    text-align: center;
    font-family: arial;
    font-size: 35px;
    margin: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
