#profile {
    text-align: center;
}

h1 {
    color: white;
    font-size: 3.125rem;
}

button {
    background: linear-gradient(to bottom, #A88BEB 0%, #F8CEEC 100%);
}

#delete-account {
    font-size: 1.25rem;
}

#buttons {
    background-color: rgb(221, 180, 242);
    border-radius: 20px;
}