<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RollDice</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="profile.component.css">
</head>

<body>
    <div class = "profile">
        <h1>
            Profile
        </h1>
    </div >
    
    <div class = "info">
        <h2>
            First Name: 
        </h2>

        <h2>
            Last Name: 
        </h2>

        <h2>
            Username: 
        </h2>

        <h2>
            Password: 
        </h2>

        <h2>
            Email: 
        </h2>

        <div class = "accuracy">
            <h2>
                Accuracy Score: 
            </h2>
        </div>
    </div>

    
    <h2>
        Change Username or Password: 
    </h2>

    <div class="change-username">
        <label for="Username"><b style="font-size: 1.5rem">Username </b></label>
        <input style="height: 1.25rem;font-size:14pt;" type="text" placeholder="Enter New Username: " size="25" name="Username" required>
    </div>  

    <div class="Submit-new-username">
        <button type="submit">Submit</button>
    </div>

    <div class="change-password">
        <label for="password"><b style="font-size: 1.5rem">Password </b></label>
        <input style="height:1.25rem;font-size:14pt;" type="password" placeholder="Enter New Password: " size="25" name="password" required>
    </div>

    <div class="Submit-new-password">
        <button type="submit">Submit</button>
    </div>


    <h2>
        No Longer Want To Play?
    </h2>

    <div class = "delete-account">
        <button type="submit">Delete Account</button>
    </div>

    

</body>

</html>
