/* You can add global styles to this file, and also import other style files */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
label {
    font-size: 100;
}
div {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    }
button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 25%;
        
    }

/* body {
    background:#e179f1;
} */

body{
height: 100vh;  margin: 0;
background: #F53844;
background: linear-gradient(to bottom, #A88BEB 0%, #F8CEEC 100%);
border: 2px solid #cebebe;
box-shadow: inset 0 1px 0 #cebebe;
-webkit-box-shadow: inset 0 1px 0 #cebebe;
-moz-box-shadow: inset 0 1px 0 #cebebe;
}